<a href="https://colab.research.google.com/github/idanielnava/Laptop-Buying-Guide/blob/main/Scrapping_GPUs_info.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#imports needed for Google Sheets
import gspread
from gspread_dataframe import get_as_dataframe, set_with_dataframe
from google.colab import auth

#verification from account for reading files you have access to
auth.authenticate_user()
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [ ]:
#Getting url to scrape
url= 'https://benchmarks.ul.com/compare/best-gpus'
#Parsing HTML and reading desired table
list_= pd.read_html(url, header= 0)

In [ ]:
#Parsing website and inspecting desired table
list_= pd.read_html(url, header= 0)
list_[0]

,Rank,Device,MSRP Price,3DMark Graphics Score,Value for Money,Popularity
0,1,AMD Radeon 6900 XT DirectX 12.00,$999,20353,20.0,3.9
1,2,NVIDIA GeForce RTX 3090 DirectX 12.00,$1499,19949,13.0,5.6
2,3,NVIDIA GeForce RTX 3080 Ti DirectX 12.00,$1199,19615,16.0,5.6
3,4,AMD Radeon RX 6800 XT DirectX 12.00,$649,19086,29.0,2.6
4,5,NVIDIA GeForce RTX 3080 12GB DirectX 12.00,NaN,18770,NaN,0.0
...,...,...,...,...,...,...
194,195,Intel Iris Graphics 520 DirectX 12.00,NaN,320,NaN,0.0
195,196,NVIDIA GeForce GT 730 DirectX 12.00,$59,297,5.0,0.0
196,197,Intel HD Graphics 5500 DirectX 12.00,NaN,236,NaN,0.0
197,198,Intel HD Graphics 4600 DirectX 12.00,NaN,195,NaN,0.0
198,199,NVIDIA GeForce GT 710 DirectX 12.00,$34,194,5.0,0.0

In [ ]:
type(list_)

list

In [ ]:
#Creating dataset with desired table
gpu_ranking= pd.DataFrame(list_[0], columns= ['Rank', 'Device', 'MSRP Price',	'3DMark Graphics Score', 'Value for Money', 'Popularity'])
gpu_ranking= gpu_ranking[['Device','Rank', '3DMark Graphics Score']]
#Renaming cols 
gpu_ranking= gpu_ranking.rename(columns= {'Rank':'GPU Rank', '3DMark Graphics Score':'GPU Graphic Score'})

In [ ]:
#Checking for null values within the dataframe
print('There are no null values in the dataframe:')
gpu_ranking.isnull().describe()

There are no null values in the dataframe:

       Device GPU Rank GPU Graphic Score
count     199      199               199
unique      1        1                 1
top     False    False             False
freq      199      199               199

In [ ]:
#Saving table to Google Drive
gpu_ranking.to_csv('/content/drive/MyDrive/BUSINESS/CVs/Portfolio Laptops/GPUS_DATASET.csv', encoding='utf-8', index= False)