<a href="https://colab.research.google.com/github/idanielnava/Laptop-Buying-Guide/blob/main/Scrapping_GPUs_info.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#url= 'https://www.tomshardware.com/reviews/gpu-hierarchy,4388.html'
#url= 'https://www.videocardbenchmark.net/gpu_list.php'
url= 'https://benchmarks.ul.com/compare/best-gpus' #really good, doesnt match tho

In [ ]:
list_= pd.read_html(url, header= 0)
list_[0]

,Rank,Device,MSRP Price,3DMark Graphics Score,Value for Money,Popularity
0,1,AMD Radeon 6900 XT DirectX 12.00,$999,20353,20.0,3.9
1,2,NVIDIA GeForce RTX 3090 DirectX 12.00,$1499,19949,13.0,5.6
2,3,NVIDIA GeForce RTX 3080 Ti DirectX 12.00,$1199,19615,16.0,5.6
3,4,AMD Radeon RX 6800 XT DirectX 12.00,$649,19086,29.0,2.6
4,5,NVIDIA GeForce RTX 3080 12GB DirectX 12.00,NaN,18770,NaN,0.0
...,...,...,...,...,...,...
194,195,Intel Iris Graphics 520 DirectX 12.00,NaN,320,NaN,0.0
195,196,NVIDIA GeForce GT 730 DirectX 12.00,$59,297,5.0,0.0
196,197,Intel HD Graphics 5500 DirectX 12.00,NaN,236,NaN,0.0
197,198,Intel HD Graphics 4600 DirectX 12.00,NaN,195,NaN,0.0
198,199,NVIDIA GeForce GT 710 DirectX 12.00,$34,194,5.0,0.0

In [ ]:
type(list_)

list

In [ ]:
list_[0]

,Rank,Device,MSRP Price,3DMark Graphics Score,Value for Money,Popularity
0,1,AMD Radeon 6900 XT DirectX 12.00,$999,20353,20.0,3.9
1,2,NVIDIA GeForce RTX 3090 DirectX 12.00,$1499,19949,13.0,5.6
2,3,NVIDIA GeForce RTX 3080 Ti DirectX 12.00,$1199,19615,16.0,5.6
3,4,AMD Radeon RX 6800 XT DirectX 12.00,$649,19086,29.0,2.6
4,5,NVIDIA GeForce RTX 3080 12GB DirectX 12.00,NaN,18770,NaN,0.0
...,...,...,...,...,...,...
194,195,Intel Iris Graphics 520 DirectX 12.00,NaN,320,NaN,0.0
195,196,NVIDIA GeForce GT 730 DirectX 12.00,$59,297,5.0,0.0
196,197,Intel HD Graphics 5500 DirectX 12.00,NaN,236,NaN,0.0
197,198,Intel HD Graphics 4600 DirectX 12.00,NaN,195,NaN,0.0
198,199,NVIDIA GeForce GT 710 DirectX 12.00,$34,194,5.0,0.0

In [ ]:
gpu_ranking= pd.DataFrame(list_[0], columns= ['Rank', 'Device', 'MSRP Price', 	'3DMark Graphics Score', 'Value for Money', 'Popularity'])
gpu_ranking= gpu_ranking[['Rank', 'Device', '3DMark Graphics Score', 'Value for Money']]
gpu_ranking.head()

,Rank,Device,3DMark Graphics Score,Value for Money
0,1,AMD Radeon 6900 XT DirectX 12.00,20353,20.0
1,2,NVIDIA GeForce RTX 3090 DirectX 12.00,19949,13.0
2,3,NVIDIA GeForce RTX 3080 Ti DirectX 12.00,19615,16.0
3,4,AMD Radeon RX 6800 XT DirectX 12.00,19086,29.0
4,5,NVIDIA GeForce RTX 3080 12GB DirectX 12.00,18770,NaN

In [ ]:
#imports needed for Google Sheets
import gspread
from gspread_dataframe import get_as_dataframe, set_with_dataframe
from google.colab import auth

#verification from account for reading files you have acces to
auth.authenticate_user()
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [ ]:
gpu_ranking.to_csv('/content/drive/MyDrive/BUSINESS/CVs/Portfolio Laptops/gpus_database.csv', encoding='utf-8', index= False)